In [1]:
import numpy as np
import pandas as pd

In [3]:
books=pd.read_csv('BX-Books.csv',sep=";",error_bad_lines=False,encoding='latin-1')

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\Users\Saurabh kr\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [6]:
books=books[['ISBN','Book-Title','Book-Author','Year-Of-Publication','Publisher']]

In [8]:
books.rename(columns={'Book-Title':'title','Book-Author':'author','Year-Of-Publication':'year','Publisher':'publisher'},inplace=True)

In [25]:
users=pd.read_csv('BX-Users.csv',sep=";",error_bad_lines=False,encoding='latin-1')

In [27]:
users.columns

Index(['User-ID', 'Location', 'Age'], dtype='object')

In [28]:
users.rename(columns={'User-ID':'user_id','Location':'location','Age':'age'},inplace=True)

In [30]:
ratings=pd.read_csv('BX-Book-Ratings.csv',sep=";",error_bad_lines=False,encoding='latin-1')

In [32]:
ratings.columns

Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object')

In [34]:
ratings.rename(columns={'User-ID':'user_id','Book-Rating':'rating'},inplace=True)

In [36]:
books.shape

(271360, 5)

In [37]:
users.shape

(278858, 3)

In [38]:
ratings.shape

(1149780, 3)

In [39]:
x=ratings['user_id'].value_counts()>200

In [43]:
y=x[x].index   # gives user_id of people who have atleats rated 200 books

In [45]:
ratings=ratings[ratings['user_id'].isin(y)]

In [55]:
ratings_with_books=ratings.merge(books,on='ISBN') #merging two datasets

In [56]:
number_rating=ratings_with_books.groupby('title')['rating'].count().reset_index()

In [57]:
number_rating.rename(columns={'rating':'number of ratings'},inplace=True)

In [58]:
number_rating.head()

                                               title  number of ratings
0   A Light in the Storm: The Civil War Diary of ...                  2
1                              Always Have Popsicles                  1
2               Apple Magic (The Collector's series)                  1
3   Beyond IBM: Leadership Marketing and Finance ...                  1
4   Clifford Visita El Hospital (Clifford El Gran...                  1

In [59]:
final_rating=ratings_with_books.merge(number_rating,on='title')

In [62]:
final_rating.head()

,user_id,ISBN,rating,title,author,year,publisher,number of ratings
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,82

In [64]:
final_rating=final_rating[final_rating['number of ratings']>=50]

In [65]:
final_rating.shape

(61853, 8)

In [66]:
final_rating.drop_duplicates(['user_id','title'],inplace=True)

C:\Users\Saurabh kr\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [67]:
final_rating.shape

(59850, 8)

In [68]:
book_pivot=final_rating.pivot_table(columns='user_id',index='title',values='rating')

In [70]:
book_pivot.fillna(0,inplace=True)

In [72]:
book_pivot.head()

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0

In [73]:
from scipy.sparse import csr_matrix
book_sparse=csr_matrix(book_pivot)                 # creating a sparse matrix

In [74]:
from sklearn.neighbors import NearestNeighbors
model=NearestNeighbors(algorithm='brute')

In [75]:
# training the model

model.fit(book_sparse)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [84]:
# testing code for creating a function

distances, suggestions=model.kneighbors(book_pivot.iloc[240,:].values.reshape(1,-1),n_neighbors=6)

In [85]:
distances

array([[ 0.        , 61.20457499, 68.78953409, 71.36525765, 73.17786551,
        74.57211275]])

In [86]:
suggestions

array([[240, 238, 237, 241, 239, 184]], dtype=int64)

In [87]:
for i in range(len(suggestions)):
    print(book_pivot.index[suggestions[i]])  #finding suggestions for book index 240

Index(['Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Sorcerer's Stone (Book 1)',
       'Harry Potter and the Order of the Phoenix (Book 5)', 'Exclusive'],
      dtype='object', name='title')

In [88]:
book_pivot.index[240]

'Harry Potter and the Prisoner of Azkaban (Book 3)'

In [89]:
# creating a function for recommender system

def recommend_book(book_name):
    book_id=np.where(book_pivot.index==book_name)[0][0] # finds index of given book
    distances, suggestions=model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1),n_neighbors=6) 
    
    
    for i in range(len(suggestions)):
        
            print(book_pivot.index[suggestions[i]])

In [94]:
# testing the function

recommend_book("Harry Potter and the Prisoner of Azkaban (Book 3)")

Index(['Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Sorcerer's Stone (Book 1)',
       'Harry Potter and the Order of the Phoenix (Book 5)', 'Exclusive'],
      dtype='object', name='title')